section{
    padding: 6.2rem 0;
    color: #fff;
}
.about, .skills{
    font-family: 'Roboto', sans-serif;
    background-color: #280886;
}
.services, .formacao, footer{
    font-family: 'Roboto', sans-serif;   
}
.about .about-content, .services .serv-content, .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3.7rem;
    padding-bottom: 1.2rem;
    background: -webkit-linear-gradient(left, #9708cc, #43cbff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about .about-content .column-left{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .about-content .column-right{
    width: 100%;
}
.about .about-content .column-right p{
    text-align: center;
    font-size: 1.5rem;
}
.about .about-content .column-left img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;;
    box-shadow: 0px 4px 30px rgba(67, 203, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
}