footer{
    font-size: 0.7rem;
    padding: 0.6rem 0.9rem;
    text-align: center;
    background-color: #280886;
    color: #fff;
}
footer span a{
    color: #43cbff;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}