@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    width: 100%;
    padding: 0 5rem;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.875rem 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
    background-color: #12043e;
}
.navbar.sticky{
    background-color: #12043e;
    padding: 0.9rem 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 2.1rem;
    font-weight: 500;
}
.navbar .logo a span{
    background: -webkit-linear-gradient(left, #9708cc, #43cbff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.navbar #menu li{
    list-style: none;
    display: inline-block;
}
.navbar #menu li a{
    background: -webkit-linear-gradient(left, #9708cc, #43cbff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
}
.navbar #menu li a:hover{
    padding: .1rem 0 ;
    border-bottom: solid 0.15rem #43cbff;
    border-radius: 10%;
}
.navbar.sticky #menu li a:hover{
    padding: .1rem 0 ;
    border-bottom: solid 0.15rem #43cbff;
    border-radius: 10%;
}

@media (max-width:947px){
    .max-width{
        padding: 0 3.1rem;
    }
    .navbar #menu li a{
        color: #12043e;
    }
}

@media (max-width:600px){
    #nav-menu #menu li a{
        font-size: 1.1rem;
        margin-left: 0;
    }
}