
@media (max-width:947px){
    #menu-btn{
        display: flex;
        color: #a9081c;
        background: none;
        border: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        gap: .5rem;
        cursor: pointer;
    }
    #hamburger{
        width: 1.2rem;
        border-top: 0.125rem solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 1.2rem;
        height: 0.125rem;
        margin-top: 0.3rem;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    #nav-menu.active #hamburger{
        border-top-color: transparent;
    }
    #nav-menu.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 4.375rem;
        background: #716b6d;
        text-align: center;
        z-index: 1000;
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-menu.active #menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 70px);
    }
    #nav-menu #menu li{
        display: block;
    }
    #nav-menu #menu li a{
        display: inline-block;
        margin: 1.2rem 0;
        font-size: 1.5rem;
    }
    #nav-menu.active #menu li a:hover{
        border-bottom: 0.15rem #a9081c solid;
    }
}