@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.services, .formacao{
    background-color: #111a21;
    color: #716b6d;
}
.services .serv-content{
    height: 11.8rem;
    overflow: hidden;
    padding: 1rem;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
}
.services .serv-content.active{
    height: auto;
}
.services .serv-content::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    min-height: 12rem;
    background-color: #a9081b9c;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    padding: 1rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #a9081c;
}
.services .serv-content .card .box{
    transition: all .3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card .box a{
    width: 100%;
    height: 100%;
}
.services .serv-content .card .box a img{
    border-radius: 6px;
    width: 100%;
}
.services .serv-content .card ion-icon{
    font-size: 3.1rem;
    color: #111a21;
}
.services .serv-content .card .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.6rem 0 0.4rem 0;
    color: #111a21;
}
.btn-mais{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.btn-mais #read-more{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    color: #a9081c;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: transparent;
}

@media (max-width:910px){
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 1.2rem;
    }
}

@media (max-width:700px){
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width:400px){
    .services .serv-content .card .text{
        font-size: 1.2rem;
    }
}