@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    width: 100%;
    padding: 0 5rem;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 1.8rem 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky{
    background: #524937;
    padding: 0.9rem 0;
}
.navbar.sticky #menu li a{
    color: black;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: black;
    font-size: 2.1rem;
    font-weight: 500;
}
.navbar .logo a span{
    color: #B0E508;
}
.navbar.sticky .logo a span{
    color: #B0E508;
}
.navbar #menu li{
    list-style: none;
    display: inline-block;
}
.navbar #menu li a{
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: color 0.3s ease;
}
.navbar #menu li a:hover{
    color: #B0E508;
}
.navbar.sticky #menu li a:hover{
    color: #D5D0C8;
}

.home{
    display: flex;
    height: 100vh;
    min-height: 31.2rem;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 2.5rem;
}
.home .home-content .text-1{
    font-size: 1.6rem;
}
.home .home-content .text-2{
    font-size: 4.6rem;
    font-weight: 500;
    margin-left: -1.1rem;
}
.home .home-content .text-3{
    font-size: 2.5rem;
    margin: 0.3rem 0;
}
.home .home-content .text-3 span{
    color: #B0E508;
    font-weight: 500;
}
.navbar-contact{
    display: flex;
    padding-top: 0.9rem;
}
.box-contact{
    width: 4rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    margin: .6rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
}
.box-contact:hover{
    width: 11.2rem;
    background: lightgrey;
    border-radius: 35px;
    color: white;
    box-shadow: 0 0 10px black;
}
.box-contact:nth-child(2):hover{
    background: navy;
    box-shadow: 0 0 10px black;
}
.box-contact:nth-child(3):hover{
    background: black;
    box-shadow: 0 0 10px black;
}
.box-contact .icon-download, .icon-linkedin, .icon-github{
    color: black;
    width: 3.1rem;
    height: 3.1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 0.6rem;
    transition: all .4s ease;
}
ion-icon{
    width: 25px;
    height: 25px;
    color: white;
}
.box-contact:hover ion-icon{
    color: lightgrey;
}
.box-contact:nth-child(2):hover ion-icon{
    color: navy;
}
.box-contact:nth-child(3):hover ion-icon{
    color: black;
}
.box-contact p{
    transform: translate(60px);
}
.icon-download{
    background-color: lightgrey;
}
.icon-linkedin{
    background-color: navy;
}
.icon-github{
    background-color: black;
}
.box-contact:hover .icon-download, .box-contact:hover .icon-linkedin, .box-contact:hover .icon-github{
    background: white;
    color: black;
    box-shadow: 0 0 20px grey;
}
#menu-btn{
    display: none;
}
.scroll-up-btn{
    position: fixed;
    width: 2.5rem;
    height: 2.8rem;
    right: 1.8rem;
    bottom: 0.6rem;
    text-align: center;
    line-height: 3.1rem;
    color: navy;
    background: white;
    border-radius: 6px;
    font-size: 1.8rem;
    z-index: 9999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.scroll-up-btn ion-icon{
    color: #B0E508;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 1.8rem;
}

section{
    padding: 6.2rem 0;
}
.about, .skills{
    font-family: 'Roboto', sans-serif;
    background: #D5D0C8;
}
.services, .formacao, footer{
    font-family: 'Roboto', sans-serif;   
}
.about .about-content, .services .serv-content, .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 3.7rem;
    padding-bottom: 1.2rem;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 11.2rem;
    height: 0.1rem;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -0.7rem;
    left: 50%;
    font-size: 1.2rem;
    background: #D5D0C8;
    color: #638B08;
    padding: 0.3rem;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Quem sou eu";
    background: #D5D0C8;
}
.about .about-content .column-left{
    width: 45%;
}
.about .about-content .column-right{
    width: 55%;
}
.about .about-content .column-right p{
    text-align: justify;
    font-size: 1.5rem;
}
.about .about-content .column-left img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.services, .formacao{
    background:#A8916C;
    color: black;
}
.services .serv-content{
    height: 11.8rem;
    overflow: hidden;
    position: relative;
}
.services .serv-content.active{
    height: auto;
}
.services .serv-content::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #A8916C);
}
.services .serv-content.active::before{
    visibility: hidden;
}
.services .title::before, .formacao .title::before{
    background: black;
}
.services .title::after, .formacao .title::after{
    color: black;
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #FAF2E7;
    text-align: center;
    border-radius: 6px;
    padding: 1.2rem 1.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: white;
}
.services .serv-content .card .box{
    transition: all .3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card ion-icon{
    font-size: 3.1rem;
    color: black;
}
.services .serv-content .card .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.6rem 0 0.4rem 0;
}
.btn-mais{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.btn-mais #read-more{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #FAF2E7;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.skills .title::after{
    content: "O que faço";
    background: #D5D0C8;
}
.skills .skills-content .column-left, .skills .skills-content .column-right{
    width: calc(50% - 30px);
}
.skills .skills-content .column-left .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.6rem;
}
.skills .skills-content .column-left p{
    text-align: justify;
}
.skills .skills-content .column-right2{
    height: 13.7rem;
    overflow: hidden;
    position: relative;
}
.skills .skills-content .column-right2.active{
    height: auto;
}
.skills .skills-content .column-right2::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.7rem;
    background: linear-gradient(transparent, lightgrey);
}
.skills .skills-content .column-right2.active::before{
    visibility: hidden;
}
.btn-more{
    display: flex;
    justify-content: center;
    margin-top: 0.6rem;
}
.btn-more #skills-more{
    padding: 0.6rem;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #A8916C;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.skills .skills-content .column-right .bars{
    margin-bottom: 0.9rem;
}
.skills .skills-content .column-right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .column-right span{
    font-weight: 500;
    font-size: 1.1rem;
}
.skills .skills-content .column-right span img{
    width: 70%;
    height: 70%;
}
.skills .skills-content .column-right .line-html, .line-css, .line-js, .line-py, .line-en, .line-es, .line-ex, .line-mo, .line-jv{
    width: 100%;
    height: 0.3rem;
    background: white;
    position: relative;
}
.skills .skills-content .column-right .line-html::before, .line-css::before, .line-js::before, .line-py::before, .line-en::before, .line-es::before, .line-ex::before, .line-mo::before, .line-jv::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.skills .skills-content .column-right .line-html::before{
    width: 50%;
    background: orange;
}
.skills .skills-content .column-right .line-css::before{
    width: 30%;
    background: lightskyblue;
}
.skills .skills-content .column-right .line-js::before{
    width: 20%;
    background: yellow;
}
.skills .skills-content .column-right .line-py::before{
    width: 10%;
    background: blue;
}
.skills .skills-content .column-right .line-en::before{
    width: 60%;
    background: blueviolet;
}
.skills .skills-content .column-right .line-es::before{
    width: 15%;
    background: red;
}
.skills .skills-content .column-right .line-ex::before{
    width: 60%;
    background: green;
}
.skills .skills-content .column-right .line-mo::before{
    width: 30%;
    background: darkorange;
}
.skills .skills-content .column-right .line-jv::before{
    width: 5%;
    background: linear-gradient(red, blue);
}

.formacao .carousel .card{
    background: #FAF2E7;
    border-radius: 6px;
    padding: 1.5rem 2.1rem;
    text-align: center;
    transition: all .3s ease;
    cursor: pointer;
    min-width: 18.7rem;
    min-height: 18.7rem;
}
.formacao .carousel .card:hover{
    background: white;
}
.formacao .carousel .card img{
    width: 6.2rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 10%;
    transition: all .3s ease;
}
.formacao .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}
.formacao .carousel .card:hover .box{
    transform: scale(1.05);
}
.formacao .carousel .card .text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.6rem 0 0.4rem 0;
}
.owl-dots{
    text-align: center;
    margin-top: 1.2rem;
}
.owl-dot{
    width: 0.8rem;
    height: 0.8rem;
    outline: none!important;
    border-radius: 50%;
    border: 0.1rem solid black!important;
    transition: all .3s ease;
}
.owl-dot.active{
    width: 2.1rem;
    border-radius: 15px;
}
.owl-dot.active, .owl-dot:hover{
    background: #FAF2E7!important;
}

footer{
    font-size: 0.7rem;
    padding: 0.6rem 0.9rem;
    text-align: center;
    background: #524937;
}
footer span a{
    color: #B0E508;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}
[data-anime="bottom"]{
    transform: translate3d(0, 50px, 0);
}
[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media (max-width:1220px){
    .home .home-content .text-1{
        font-size: 1.8rem;
    }
    .home .home-content .text-2{
        font-size: 3.7rem;
    }
    .home .home-content .text-3{
        font-size: 2.1rem;
    }
}

@media (max-width:1100px){
    .home .home-content .text-3{
        font-size: 1.8rem;
    }
}

@media (max-width:963px){
    .home .home-content .text-2{
        font-size: 3.5rem;
    }
    .home .home-content .text-3{
        font-size: 1.7rem;
    }
}

@media (max-width:947px){
    .max-width{
        padding: 0 3.1rem;
    }
    #menu-btn{
        display: flex;
        color: black;
        background: none;
        border: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        gap: .5rem;
        cursor: pointer;
    }
    #hamburger{
        width: 1.2rem;
        border-top: 0.1rem solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 1.2rem;
        height: 0.1rem;
        margin-top: 0.3rem;
        background: currentColor;
        transition: .3s;
        position: relative;
    }
    #nav-menu.active #hamburger{
        border-top-color: transparent;
    }
    #nav-menu.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav-menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 4.3rem;
        background: #524937;
        text-align: center;
        z-index: 1000;
        transition: 0.6s;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav-menu.active #menu{
        visibility: visible;
        overflow-y: auto;
        height: calc(100vh - 70px);
    }
    #nav-menu #menu li{
        display: block;
    }
    #nav-menu #menu li a{
        display: inline-block;
        margin: 1.2rem 0;
        font-size: 1.5rem;
        border-bottom: 0.1rem black solid;
    }
    #nav-menu.active #menu li a:hover{
        color: #B0E508;
        border-bottom: 0.1rem #B0E508 solid;
    }
}
@media (max-width:910px){
    .home .home-content a{
        font-size: 0.9rem;
    }
    .about .about-content .column-left{
        display: flex;
        justify-content: center;
        margin: 0 auto 3.7rem;
        width: 50%;
    }
    .about .about-content .column-right{
        flex: 100%;
        width: 50%;
    }
    .about .about-content .column-right p{
        font-size: 1.2rem;
    }
    .about .about-content .column-left img{
        width: 250px;
        height: 250px;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 1.2rem;
    }
}

@media (max-width:834px){
    .home .home-content .text-3{
        font-size: 1.5rem;
    }
}

@media (max-width:779px){
    .home .home-content .text-1{
        font-size: 1.5rem;
    }
    .home .home-content .text-2{
        font-size: 3rem;
    }
    .home .home-content .text-3{
        font-size: 1.3rem;
    }
}

@media (max-width:700px){
    .services .serv-content .card{
        width: 100%;
    }
    .skills .skills-content .column-left, .skills .skills-content .column-right{
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media (max-width:674px){
    .home .home-content .text-1{
        font-size: 1.2rem;
    }
    .home .home-content .text-2{
        font-size: 2rem;
    }
    .home .home-content .text-3{
        font-size: 1.2rem;
    }
}

@media (max-width:590px){
    .home .home-content .text-1{
        font-size: 1.1rem;
    }
    .home .home-content .text-2{
        font-size: 1.5rem;
    }
    .home .home-content .text-3{
        font-size: 1.1rem;
    }
    .box-contact{
        width: 3.8rem;
        height: 4rem;
        padding: 0.2rem;
        margin: .5rem;
    }
    .box-contact:hover{
        width: 10rem;
    }
    .box-contact p{
        font-size: .8rem;
    }
    ion-icon{
        width: 20px;
        height: 20px;
    }
}

@media (max-width:486px){
    .navbar-contact{
        flex-direction: column;
    }
    .about .about-content .column-left img{
        width: 200px;
        height: 200px;
    }   
}

@media (max-width:410px){
    .home .home-content .text-1{
        font-size: 1.2rem;
        margin-left: -1.5rem;
    }
    .home .home-content .text-2{
        font-size: 2rem;
        margin-left: -2rem;
    }
    .home .home-content .text-3{
        font-size: 1.1rem;
        margin-left: -1.5rem;
    }
    #nav-menu #menu li a{
        font-size: 1.1rem;
        margin-left: 0;
    }
}